.NavigationBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
}

.NavigationBar .Searchbar {
  background-color: rgb(245, 245, 245);
}

.NavigationBar .Avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.NavigationBar .Apps {
  align-self: flex-end;
}

.NavigationBar .material-icons {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  background: transparent;
}
