.ConnectionContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 164px;
  max-width: 164px;
  height: 240px;
  max-height: 240px;
  border: 1px solid black;
  margin: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  list-style: none;
  user-select: none;
}

.ConnectionContainer:hover {
  background: whitesmoke;
}

.ConnectionContainer .RemoveButtonContainer {
  width: 16px;
  height: 16px;
  border: 0px;
  align-self: flex-end;
  margin: 2px;
  background-color: transparent;
  cursor: pointer;
}

.ConnectionContainer .AvatarContainer {
  width: 100%;
  border: 0px;
  background-color: transparent;
}

.ConnectionContainer .Avatar {
  width: 104px;
  height: 104px;
  border: 0px;
  border-radius: 50%;
  background-color: transparent;
}

.ConnectionContainer .ConnectionName {
  font-size: 15px;
  width: 95%;
  height: 40px;
  border: 0px;
  background-color: transparent;
  line-height: 12px;
}

.ConnectionContainer .ConnectionTitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  width: 95%;
  height: 40px;
  border: 0px;
  background-color: transparent;
  line-height: 12px;
  margin-bottom: 10px;
}

.ConnectionContainer .ConnectionBusiness {
  display: flex;
  width: 100%;
  height: 30px;
  flex-flow: row nowrap;
  justify-content: center;
  background: transparent;
  border: 0;
  font-size: 11px;
  line-height: 12px;
}

.ConnectionContainer .material-icons {
  font-size: 18px;
}

.ConnectionContainer .ConnectionBusiness .Icon {
  height: 50%;
  width: 16px;
}

.ConnectionContainer .ConnectionBusiness .Business {
  height: 50%;
  width: 80px;
}

.ConnectionContainer .ConnectButtonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 70px;
  width: 95%;
  border: 0px;
  background-color: transparent;
}

.ConnectionContainer .ConnectButtonContainer .ConnectButton {
  height: 30px;
  width: 90px;
  border: 3px solid lightsteelblue;
  font-size: 14px;
  font-weight: bold;
  color: slateblue;
  background: white;
}

.ConnectionContainer .ConnectButtonContainer .ConnectButton:hover {
  background: lightsteelblue;
}